#size{
    width: 430px;
    font-size: xx-large;
    font-style: italic;
    color: black;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px;
    margin-top: -30px;
    margin-left: 450px;
}
#p{
    border: 2px solid;
    width: 320px;
    height: 510px;
    margin-top: 50px;
    background-image: url(./image/calculator.jpg);
    margin-left:500px;
}
#p1{
    border: 2px solid;
    width: 300px;
    height: 60px;
    margin-top: 15px;
    margin-left: 9px;
    display:flex;
    justify-content: end;
    font-size: xx-large;
    background-color: rgb(196, 226, 216);
}
#key{
    /* border: 2px solid; */
    width: 300px;
    height: 400px;
    margin-top: 15px;
    margin-left: 9px;
    /* background-color: aqua; */
}
#k1,#k2,#k3,#k4,#k5{
    /* border: 1px solid; */
    width: 270px;
    height: 70px;
     margin-top:5px ;
     margin-left: 15px;
     font-size: 30px;
}
.b{
    border: 1px;
    width: 50px;
    height: 50px;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
    color: red;
    background-color: rgb(222, 222, 136);
}
#b1,#b2{
    border: 1px;
    width: 115px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 30px;
    color: red;
    background-color: yellow;
}
body{
    background-color: aliceblue;
}